*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
    background-color: #121e3f;
}

img[alt="menu"]{
    width: 20px;
    display: none;
}

nav ul{
    display:flex;
    gap: 10px;
    list-style: none;
    justify-content: right;
    padding-right:1%;
    background-color: rgb(17, 23, 51);
}

#home{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: blueviolet;
}

.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.left_line-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
img[alt="waving-hand"]{
    height: 45px;
}

.heading1{
    font-size: 50px;
    font-weight: 600;
}

.heading2{
    font-size: 45px;
    color: yellow;
}

img[alt="intro_image"]{
    width: 30vw;
}

/* projects */
h1{
    text-align: center;
    padding-top: 20px;
}

.project_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.projects_list{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
align-items: center;
column-gap: 20px;
row-gap: 20px;
}
.projects img{
    width: 20vw;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.socials img {
    height: 20px;
    margin-bottom: 50px;
    
}



@media  screen and (max-width:576px)  {

        nav ul{
            display: none;
        }

        img[alt="menu"]{display: block;
        align-items: center;
    justify-content: center;}

        .intro{

                display: flex;
                flex-direction: column;

        }

        img[alt="intro_image"]{
            width:60vw
        }

        .intro{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            text-align: center;
        }

        .projects_list{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 30px;
            column-gap: 30px;
           }
           img[alt="project_item"]{
            width: 55vw;
           }

           .project_item p {
            padding-top: 10px;
           }
           
            .Projects h1, .contact h1 {
                padding-bottom: 20px;
                text-decoration: underline #1f06e2;
            }
}