
*{
    box-sizing: border-box;
}


.mainheading {
    text-align: center;
    padding: 10px;
}

body{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size:  17px;
    padding: 8px;
    border: #cf250e;
}

.container{
    background-color: rgba(171, 179, 174, 0.671);
    padding: 5px 20px 15px 20px;
    border: 1px;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],textarea{
   width: 100%;
    padding: 10px;
    border: 1px solid rgb(226, 15, 15);
    border-radius: 5px;
    background-color: aliceblue;
}
fieldset{
    background-color: aliceblue;
    padding: 1px;
}

input[type="submit"]
{
    background-color:#0ecf48;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}





