* {
    margin: 0%;
    padding: 0%;
  
    border-radius: 5px;
    color: rgb(255, 166, 0);
}

h1 {background-color: #73f053; padding: 0px; margin: 0px;font-size: 150px;color:orange;text-align: center; }

body {margin: 0px; padding: 0px;}

h2{font-size: 50px; text-align: center; text-decoration-color: rgb(10, 9, 9);  color:rgb(230, 125, 6); padding: 50px;}


nav {
    background-color: #333;
    overflow: hidden;
     /* padding: 10px 20px;  */
    text-transform:uppercase;
    /* text-decoration: rgb(157, 29, 15); */
    font-size: 25px;
}

.topnav a:hover{

    background-color: #ddd;
  color: rgb(216, 107, 11);
}

.topnav-right {
    float: right;
  }


nav a {
    
    text-decoration:none;
    padding: 10px;
    text-align: center;
    float: left;
    color: rgb(76, 233, 238);
}


a:visited {
        color: rgb(10, 241, 103);
      }

main {
    background-color: rgb(204, 193, 193);
    text-align: center;
    align-content: center;
    align-items: center;
}


#college-reviews {

    padding: 20px;
    background-color:green;
}


.study-material {

    padding: 50px;
}





video {
    padding: 10px;
}

iframe {
    height: 20vh;
    padding: 10px;
}

img {
    padding: 10px;
    align-items: center;
    }

   section img{
        align-self: center;
    }


.footer {
         padding: 5px;
         text-align: center; 
         background-color: rgb(43, 51, 12);
        
         }

 .footer[h2]{
    color: #ddd;
 }