.home-container{
    font-size: 55px;
    height: 310px;
    color: #c8d5df;
    background-color: black; 
    
}

.home-buttons{
   padding-bottom: 30px;

   /* display: flex; */
   /* justify-content: center; */
}

 h2{
    padding: 10px;
    padding-top: 80px;
    /* margin-left: -90px; */
}

 h1{
color: #ff8800;
    padding: 20px 20px 20px 20px;
}

.btn-hire{
    color: #ffffff;
    background-color: #f38e00c4;
    border: none;
    margin: 10px;
    width: 160px;
}
.btn-resume{
    color:  #ffffff;
    background-color: #00f300c4;
    border: none;
    margin: 10px;
    width: 160px;
}
.btn:hover{
    background-color: #fff;
    color: #0a66c2;
    width: 180px;
    border: none;
}


.theme-btn{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 75px;
    width: 75px;
    border-radius:  50% 10px 10px 50%;
    background-color: #0a66c2;
    color: #fff;
    border: none;
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px;
    cursor: pointer;
    z-index: 1;
   
}

