hr{
    border: 3px solid rgb(255, 168, 7); 
     border-radius: 5px;
     width: 70vw;
     margin-bottom: 10px;

  
    /* border: none;
    height: 10px;
    background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 30px, linear-gradient(135deg, #fff 5px, green 0) 0 30px;
    background-color: #fff;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px; */
    
    
}
.work{
    background-color: #0a66c242;
    border-radius: 10px;
    margin-top: 7%;
    /* margin-left: 140px;
    padding-right: 50px; */
}
.work-exp>h1{
    margin-top: 30px;
    padding-top: 30px;
}