*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .spinner-border{
  height: 100vh;
display: flex;
align-items: center;
justify-content: center;
z-index: 1;
background-color: black;

/* display: "block";
margin: "0 auto";
margin: "0 auto"; */

.form-button{
  width: 250px;
  margin-top: 30px;
}