@tailwind base;
@tailwind components;
@tailwind utilities; 
 
 @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');



*{
  font-family: 'Martian Mono', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(33, 154, 240);
}
.head{
  color: rgb(232, 240, 239);
  display: flex;
  justify-content: center;
  justify-items: center;
  
}
