.about{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:sticky; */
    padding: 30px;
    margin: 30px 0px 30px 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 30px;

}

@media screen and (max-width: 900px) {
    .about{display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        text-align:center;
        margin: 30px 0px 30px 00px;

       
    }
    .about-content{
       
        flex-direction: column;
        text-align: justify;
    padding: 20px 0px 20px 00px;
    font-size: 20px;
       
    }
    
}

.about-img img{
    border-radius: 30px;
    width: 80%;
    height: 50vh;
    padding: 20px 20px 20px 20px;

}
.about-content{
    text-indent: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.about-content p{
    text-align: justify;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
}