.spinner{
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgb(243, 237, 237);
  
}
.spinner-grow{
    margin-left: 20vw;
}