*{
    margin: 0%;
}
span{
    display: block;
}
.canvas{
    margin: 100px;
    width: 80%;
    text-align: center;
}
.button{
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;

}
#orangered{
    background-color:orangered;
}
#white{background-color: white;}
#green{background-color: green;}
#grey{background-color: grey;}